@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --border-color: lightgrey;
  --link-color: #0366d6;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  background-color: var(--border-color);
  border: none;
  height: 1px;
  margin: 5pt 0;
}

a {
  color: var(--link-color);
}

.container {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.50);
  box-sizing: border-box;
  margin: 1cm auto;
  padding: 1cm;
  width: 20.6cm;
}

.page {
  display: flex;
  flex-direction: row;
  font-size: 9pt;
  gap: 0.6cm;
  height: 27.2cm;
  width: 18.6cm;
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 4.5cm;
}

.photo {
  border-radius: 50%;
  border: solid 1px var(--border-color);
  box-sizing: border-box;
  margin-bottom: 4pt;
  width: 100%;
}

.name {
  font-size: 16pt;
  margin: 0 0 4pt;
  white-space: nowrap;
}

.title {
  margin: 0;
}

.workplace {
  margin: 0 0 4pt;
}

address {
  font-style: normal;
}

main {
  width: 13.5cm;
}

.readme > p {
  margin: 10pt 0 0;
 }

.readme > p.filename {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto Mono', monospace;
  margin: 0 0 5pt;
}

section {
  border: solid 1px var(--border-color);
  border-radius: 4pt;
  padding: 8pt;
}

.pinned-title, .activity-title {
  margin: 15pt 0 5pt;
}

section > h2 {
  font-size: 16pt;
  margin: 0;
}

.pinned h4 {
  margin: 0 0 4pt;
}

.pinned {
  display: grid;
  gap: 10pt;
  grid-template-columns: 1fr 1fr;
}

.pinned > section {
  padding: 5pt;
}

.pinned p {
  margin: 0;
}

@media print {
  @page {
    margin: 1cm auto;
    size: A4;
  }

  .container {
    display: contents;
  }
}

.activity > article {
  border-left: 1px solid var(--border-color);
  margin-left: 10pt;
  padding: 5pt 0 5pt 10pt;
  position: relative;
}

.activity-time {
  align-items: center;
  color: grey;
  display: flex;
  flex-direction: row;
  gap: 5pt;
}

.activity-time > hr {
  flex: 1;
  margin: 0;
}

.activity h4 {
  margin: 5pt 0 0 3pt;
}

.activity p {
  margin: 5pt 0 0;
}

.activity-icon {
  background-color: rgb(190, 190, 190);
  border: solid 2px white;
  border-radius: 50%;
  box-sizing: border-box;
  height: 20pt;
  left: -10.5pt;
  margin-top: 2pt;
  padding: 1.5pt;
  position: absolute;
  text-align: center;
  width: 20pt;
}

.twitter {
  margin: 0 0 4pt;
}

.twitter > img {
  vertical-align: middle;
  width: 16px;
}

.github {
  margin: 0 0 4pt;
}

.github > img {
  vertical-align: middle;
  width: 16px;
}
